.container_logocarte {
  height: 200px;
  width: 100%;
}

.button_yellow {
  background-color: #FFD10F !important;
}

#map {
  width: 100%;
  height: rem-calc(300);
  background: grey;
}

.yellow_letters {
  color: #FFD10F;
}

.text_card {
  font-weight: 600 !important;
  padding-top: 40px;
}

h2.yellow-back:before {
  content: url(../images/before-greenpng.png);
  width: 10px;
}

h2.yellow-back:after {
  content: url(../images/after-green.png);
}

h2.green-back:before {
  content: url(../images/before-yellow.png);
}

h2.green-back:after {
  content: url(../images/after-yellow.png);
}

.container_top {
  position: relative;
}

h1.yellow_letters {
  position: absolute;
}
