.flex-card-example {

  padding-bottom: 100px;

  @include breakpoint(small) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include breakpoint(medium) {
    flex-direction: row;
  }

  .card {

    position: relative;
    overflow: visible;

    @include breakpoint(small) {
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
    }

    @include breakpoint(medium) {
      width: 32%;
    }

    .card-content {
      padding: 1rem;
      // background: rgba(35,173,77,0.4);
      height: 100%;
      width: 100%;
      color: white;
    }

    .card-vapeur {
      background: url(../images/central-card.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    .card-avlab {
      background: url(../images/avlab-card.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    .card-nojo {
      background: url(../images/nojo-card.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    .logo_carte {
      position: relative;
      width: 50%;
      height: auto;
    }

    p.texte_carte {
      font-size: 17;
      font-weight: "semi_bold";
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .btn_small{
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 30px;
      padding-right: 30px;
      position: absolute;
      bottom: -15px;
      left: 50%;
      transform: translateX(-50%);
      margin: 0;
      font-weight: 600;
    }

    .card-content-blog {
      // background: rgba(255,209,15,0.7);
      padding: 1rem;
      height: 100%;
      width: 100%;
      color: white;
    }

    .blog-expo {
      background: url(../images/blog-expo.png);
    }

    .blog-traveaux {
      background: url(../images/blog-traveaux.jpg);
    }

    .blog-lerecap {
      background: url(../images/blog-lerecap.jpg);
    }

  }
}
